useDynLib(CNE, .registration=TRUE)
#exportPattern("^[[:alpha:]]+")
import(survival, Matrix, gtools, glasso, matrixcalc, mnormt, Rcpp)
importFrom("gtools", "combinations")
importFrom("survival", "survfit")
importFrom(Rcpp, evalCpp)
export(CNE)
